.createnote2-mainContainer {
  height: 25vh;
  width: 45vw;
}
.createnote2-testContainer {
  height: 100%;
  width: 100%;
  padding: 0 3%;
  border-radius: 10px;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}
.title-createnote2 {
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#forminput2 {
  border: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
#para-createnote2 {
  height: 50%;
  width: 100%;
  border: none;
  align-self: center;
  font-size: 17px;
  color: gray;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#pin-createnote2 {
  height: 60%;
}
.createnote-closeButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}