.dashboard-main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.dashboard-header {
  height: 25%;
  width: 100%;
  border: 1px solid grey;
}
.createnote-container {
  height: auto;
  width: 40%;
  word-wrap: break-word;
  margin-left: 25%;
  align-self: flex-start;
  justify-content: center;
  margin-bottom: 4%;
}
.container-sideNavBar {
  width: 4%;
  height: 4%;
}
.displaynote-container {
  height: auto;
  width: 70%;
  margin-left: 15%;
  word-wrap: break-word;
}
@media only screen and (max-width: 1100px) and (min-width: 801px) {
  .dashboard-header {
    width: 100%;
    align-self: center;
    justify-content: center;
  }
  .createnote-container {
   width: 85%;
   align-self: center;
   justify-content: center;
   word-wrap: break-word;
  }
  .displaynote-container {
   width: 80%;
   align-self: center;
   justify-content: center;
   word-wrap: break-word;
  }
}

 
@media only screen and (max-width: 800px) and (min-width: 451px) {
  .dashboard-header {
    width: 100%;
    align-self: center;
    justify-content: center;
    font-size: medium;
  }
  .container-sideNavBar {
    width: 2%;
  }
  .createnote-container {
    width: 80%;
    align-self: center;
    justify-content: center;
  }
  .displaynote-container {
    height: auto;
    width: 70%;
    align-self: center;
    justify-content: center;
    word-wrap: break-word;
  }
}
@media screen and (max-width: 450px) {
  .dashboard-header {
    width: 100%;
    align-self: center;
    justify-content: space-around;
  }
  .container-sideNavBar {
    width: 5%;
  }
  .createnote-container {
    align-self: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 15%;
  }
  .displaynote-container {
    width: 80%;
    align-self: center;
    justify-content: center;
    word-wrap: break-word;
  }
}
