.displaynotenew-mainContainer {
  height: auto;
  width: 70vw;
  word-wrap: break-word !important;
}
.testContainer {
  width: 120%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
@media only screen and (max-width: 1100px) and (min-width: 801px) {
  .testContainer {
    width: 110%;
    align-self: center;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 800px) and (min-width: 451px){
  .testContainer {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

}
@media screen and (max-width: 451px) {
  .testContainer {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}
