#header1 {
  width: 100vw;
  height: 100vh;
}
#box {
  border: 1px solid #dadce0;
  border-radius: 2%;
  width: 70%;
  height: 100%;
  position: relative;
  top: 5%;
  left: 15%;
  display: flex;
  flex-direction: row;
}
#section1 {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#mainHeading1 {
  align-self: flex-start;
  justify-content: center;
  padding-top: 10%;
  padding-left: 5%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 23px;
}
.fields1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.email-address1 {
  color: cornflowerblue;
}
#text1 {
  color: #5f6368;
  text-align: left;
  padding: 0 5%;
}
#text-head1 {
  padding-right: 20%;
}
.signin {
  display: flex;
  flex-direction: row;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 600;
  width: 100%;
  color: cornflowerblue;
  justify-content: space-between;
}
#checkbox {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 0 3%;
}
#section2 {
  width: 50%;
  height: 90%;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.logo1 {
  width: 70%;
  height: 70%;
  position: relative;
  top: 10%;
}

@media only screen and (max-width: 800px) and (min-width: 430px) {
  #box{
    height: 80%;
  }
  
  .fields1 {
    align-self: center;
    justify-content: space-evenly;
    width: 200%;
    margin-left: 80%;
  }
  #section2 {
    display: none;
  }
  #text1{
    width: 200%;
    margin-left: 110%;
  }
  .email-address1{
    margin-left: 75%;
  }
  .signin{
    width: 160% !important;
    justify-content: space-between;
    margin-left: 80%;
  }
}

@media screen and (max-width: 400px){
  #box{
    height: 80%;
  }
  #section2 {
    display: none;
  }
  .fields1{
    flex-direction: column;
  }
  .email-address1{
    width: 10px!important;
  }
  #passwordfield{
    width: 200% !important;
    justify-content: space-between;
    margin-bottom: 15%;
  }
  /* .MuiOutlinedInput-input{
    
   
  } */
  .MuiInputBase-input{
    width: 150px !important;
  }
}