.Note2-mainContainer {
  height: 23vh;
  width: 20vw;
}
.note-testMainContainer {
  height: 90%;
  width: 100%;
}
.note2-testContainer {
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.note2-title {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.note2-paragraph {
  height: 70%;
  width: 100%;
}
#notes-pin {
  height: 60%;
}
