.mainContainer {
  width: 22vw;
}
.testContainer {
 
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  align-items: center !important;
}
.mainNote {
  max-height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex !important;
  flex-direction: column !important;
  word-wrap: break-word !important;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0rem 0.25rem 0.5rem  rgba(0, 0, 0, 0.08) !important;
}
#noteHeader {
  padding-left: 5%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.noteContent{
  max-width: 90%;
  border: 2px solid pink;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  word-wrap: break-word !important;
}