.mainConatiner-drawer {
  height: 50vh;
  width: 10vw;
}
.testContainer-drawer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#block2 {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: 500;
  color: rgb(134, 98, 98);
  text-align: left;
}
#block1{
  width: 40%;
  height: 100%;
  color: rgb(75, 72, 72);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
